{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Formation</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom de la formation</th>
                <td>{{ formation.nom }}</td>
            </tr>
            <tr>
                <th>Typeformation</th>
                <td>{{ formation.type }}</td>
            </tr>
            <tr>
                <th>Datedeb</th>
                <td>{% if formation.dateDebut %}{{ formation.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ formation.duree }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ formation.lieu }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ formation.notes }}</td>
            </tr>
        </tbody>
    </table>


    <a class="fbtn waves-effect waves-light" href="{{ path('formation_edit', { 'id': formation.id }) }}">Modifier</a>
    <a class="btn waves-effect waves-light" href="{{ path('formation_index') }}">Liste des formations</a>

    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}
{% endblock %}
