{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>{{ campagne.nom }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campagne.id }}</td>
            </tr>
            <tr>
                <th>Nom de la campagne</th>
                <td>{{ campagne.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('campagne_index') }}">Liste des campagnes</a>
    <a class="btn waves-effect waves-light" href="{{ path('campagne_edit', { 'id': campagne.id }) }}">Editer</a>

    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
