{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Ajouter une compétence</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn waves-light waves-effect" type="submit" value="Valider" />
    {{ form_end(form) }}

    <a class="btn waves-light waves-effect" href="{{ path('competence_index') }}">Liste des compétences</a>
    {% block javascripts %}
        {{ parent() }}
        <script>
					$(document).ready(function() {
						$('select').material_select();
					}           );
        </script>
    {% endblock javascripts %}
{% endblock %}
