{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>{{ competence.nom }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Nom de la compétence</th>
                <td>{{ competence.nom }}</td>
            </tr>
            <tr>
                <th>Détails de la competence</th>
                <td>{{ competence.detail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competence_index') }}">Liste des compétences</a>
        </li>
        <li>
            <a href="{{ path('competence_edit', { 'id': competence.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
