{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des actions</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Date de début</th>
                <th>Durée</th>
                <th>Lieu</th>
                <th>Nom de la campagne</th>
            </tr>
        </thead>
        <tbody>
        {% for action in actions %}
            <tr>
                <td><a href="{{ path('action_show', { 'id': action.id }) }}">{{ action.nom }}</a></td>
                <td>{{ action.type }}</td>
                <td>{% if action.datedebut %}{{ action.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ action.duree }}</td>
                <td>{{ action.lieu }}</td>
                <td>{{ action.campagne }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('action_new') }}">Ajouter une action</a>

{% endblock %}
