{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Mailing</h1>

    <table>
        <tbody>
            <tr>
                <th>Idproximite</th>
                <td>{{ mailing.idProximite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mailing_edit', { 'id': mailing.id }) }}">Modifier</a>
    <a href="{{ path('mailing_index') }}">Liste des mailings</a>


    {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
