{% extends 'base.html.twig' %}

{% block body %}
    <h1>Domaines list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td><a href="{{ path('domaine_show', { 'id': domaine.id }) }}">{{ domaine.id }}</a></td>
                <td>{{ domaine.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('domaine_show', { 'id': domaine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('domaine_edit', { 'id': domaine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('domaine_new') }}">Create a new domaine</a>
        </li>
    </ul>
{% endblock %}
