{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Militants list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for militant in militants %}
            <tr>
                <td><a href="{{ path('militant_show', { 'idMilitant': militant.idMilitant }) }}">{{ militant.nom }}</a></td>
                <td>{{ militant.prenom }}</td>
                <td>{{ militant.email }}</td>
                <td>{{ militant.telephone }}</td>
                <td>{{ militant.adresse }}</td>
                <td>{{ militant.ville }}</td>
                <td>{{ militant.codePostal }}</td>
                <td>{{ militant.facebook }}</td>
                <td>{{ militant.twitter }}</td>
                <td>{{ militant.notes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('militant_new') }}">Ajouter un militantt</a>
{% endblock %}
