{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Militant</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ militant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ militant.prenom }}</td>
            </tr>
            <tr>
                <th>Emailmilitant</th>
                <td>{{ militant.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ militant.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ militant.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ militant.ville }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ militant.codePostal }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ militant.facebook }}</td>
            </tr>
            <tr>
                <th>Twitter</th>
                <td>{{ militant.twitter }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ militant.notes }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('militant_edit', { 'id': militant.id }) }}">Modifier</a>
    <a class="btn wavs-effect wavs-light" href="{{ path('militant_index') }}">Liste des militants</a>


    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
