{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Modifier une aptitude</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <a class="btn waves-effect waves-light" href="{{ path('aptitude_index') }}">Liste des aptitudes</a>

    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

    {% block javascripts %}
        {{ parent() }}
        <script>
					$(document).ready(function() {
						$('select').material_select();
					}           );
        </script>
    {% endblock javascripts %}
{% endblock %}
