{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Aptitude</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aptitude.id }}</td>
            </tr>
            <tr>
                <th>Id compétence</th>
                <td>{{ aptitude.idCompetence }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ aptitude.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('aptitude_index') }}">Liste des aptitudes</a>
    <a class="btn waves-effect waves-light" href="{{ path('aptitude_edit', { 'id': aptitude.id }) }}">Editer</a>

    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
