{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des associations</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de l'association</th>
                <th>Code postal</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td><a href="{{ path('association_show', { 'id': association.id }) }}">{{ association.nomAssociation }}</a></td>
                <td>{{ association.codepostal }}</td>
                <td>{{ association.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('association_new') }}">Ajouter une association</a>

{% endblock %}
