{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>{{ association.nomAssociation }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom de l'association</th>
                <td>{{ association.nomAssociation }}</td>
            </tr>
            <tr>
                <th>Cod epostal</th>
                <td>{{ association.codepostal }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ association.type }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('association_edit', { 'id': association.id }) }}">Editer</a>
    <a class="btn waves-effect waves-light" href="{{ path('association_index') }}">Liste des associations</a>

    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
