{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <div class="row center large">
        <div class="col s12">
            <h2>Je complète la base</h2>
        </div>
    </div>
    <div class="row center large">
        <div class="col offset-s4 s4">
            <a class="waves-effect waves-light btn" href="{{ path('militant_new') }}">J'ajoute militant</a>
        </div>
    </div>
    <div class="row center large">
        <div class="offset-s2 col s4">
            <a class="waves-effect waves-light btn" href="{{ path('competence_new') }}">J'ajoute une compétence</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn" href="{{ path('militant_new') }}">J'ajoute militant</a>
        </div>
    </div>

    <div class="row center large">
        <div class="col s4">
            <a class="waves-effect waves-light btn"}}>J'ajoute une campange</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn" href="{{ path('action_new') }}">J'ajoute une action</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn" href="{{ path('formation_new') }}">J'ajoute une formation</a>
        </div>
    </div>
{% endblock body %}