{% extends 'base.html.twig' %}

{% block body %}
    <h1>Roles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td><a href="{{ path('role_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('role_show', { 'id': role.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('role_edit', { 'id': role.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('domaine_new') }}">Create a new domaine</a>

{% endblock %}
