{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Rôle</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ role.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('role_edit', { 'id': role.id }) }}">Modifier</a>
    <a class="btn waves-effect waves-light" href="{{ path('role_index') }}">Liste des rôles</a>

    {{ form_start(delete_form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

{% endblock %}
